
.container{
    max-width: 400px;
    margin:30px auto;
    padding: 20px;
    background-color: #f7f7f78a;
    border-radius: 7px;
    border: 2px solid rgba(0, 0, 0, 0.048);
}
h1 {
    text-align: center;
}
label{
    font-weight: bold;
}
.form-control{
    margin-bottom: 15px;
}
.btn-primary{
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    background:linear-gradient(-340deg,rgb(255, 230, 3),rgb(255, 153, 0) ,rgb(255, 94, 0));
}
