:root , #root{
    background:linear-gradient(90deg,rgba(211, 10, 10, 0.945) ,rgba(255, 255, 255, 0.384)  ,rgba(0, 0, 211, 0.901) );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 500%,500%;
    animation: fungi 8s ease-in-out infinite;
    border: none;
}
@keyframes fungi {
    0%,100%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 100%;
    }
}