:root , #root{
    background:linear-gradient(-200deg, rgb(175, 96, 175),purple,rgb(55, 155, 189));
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 500%,500%;
    animation: fungi 8s ease-in-out infinite;
    border: none;
}
@keyframes fungi {
    0%,100%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 100%;
    }
}